body {
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #defdff;
    background-image: linear-gradient(0deg, #defdff 0%, #f9deff 50%, #90e4d7 100%);
    color: #000;
    cursor: url('../images/custom-cursor.png'), auto;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#contact-us-img{
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
    padding: 0rem 4rem;
}
.contact-us h5{
    font-size: 1.5rem;
    font-weight: 400;
}
.support{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.main-section{
    margin-top: 8rem;
}
.footer-right{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-right form{
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.about-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem;
    background-color: #1a1a1a;
    color: #fff;
}
.dark-mode .about-footer{
    background-color: #3a3358;
    color: #fff;
}
.dark-mode .support li a{
    color: #b0a8a8;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}
.fa-instagram{
    color: #c13584;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-pinterest{
    color: #e60023;
}
.fa-facebook{
    color: #1877f2;
}
.fa-linkedin{
    color: #0a66c2;
}
@media screen and(max-width:728px) {
    #contact-us-img{
        height: 16rem;
    }
    .contact-us h5{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .footer-right form{
        width: 200px;
    }
    
}

@media  screen and (max-width:600px) {
    .support{
        flex-direction: column;
        font-size: 1rem;
    }
    #contact-us-img{
        height: 12rem;
    }
    .contact-us{
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        padding: 1rem;
        margin-top: 5rem;
    }
    #main-section{
        width: 100%;
        max-width: 400px;
    }
    .contact-us h5{
        font-size: 1rem;
        font-weight: 400;
    }
}