body {
    overflow-x: hidden;
}
.hero{
    width: 100%;
}
.hero .hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}
.hero .content{
    margin: 2.5rem !important;  
}
.hero .image{
    width: 50%;
    margin-bottom: 5rem !important;
    margin-top: 5rem !important;
}
h1 span {
    animation: heroBgText 6s linear infinite;
    animation-delay: 2s;
}

.text-animate {
    position: relative;
    width: 34.8rem;
}

button:hover {
    cursor: pointer !important;
}

.text-animate h1 span {
    color: transparent;
    -webkit-text-stroke: 0.9px #C73FE9;
    background-image: linear-gradient(#C73FE9, #3F92CA);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;

}

.hero .content .text-animate h1 span::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 5%;
    width: 0;
    height: 22%;
    border-right: 2px solid #3F92CA;
    z-index: -1;
}

.hero .content .text-animate h1 span::before {
    animation: heroCursorText 6s linear infinite;
    animation-delay: 2s;
}

.hero .image {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .image img {
    border-radius: 50%;
}

.hero h1 {
    animation: fadeIn 1.5s ease-in forwards;
}

.hero {
    overflow: hidden;
}

.hero .image .circle-spin {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 23.5rem;
    height: 23.5rem;
    border-radius: 50%;
    border-top: .2rem solid #D338EC;
    border-bottom: .2rem solid #D338EC;
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
    animation: Spinner 8s linear infinite;
}

.hero .image .circle-spin-3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 27rem;
    height: 27rem;
    border-radius: 40%;
    border-top: .2rem solid #D338EC;
    border-bottom: .2rem solid #D338EC;
    border-left: .2rem solid #4B8BCC;
    border-right: .2rem solid #4B8BCC;
    animation: Spinner 5s linear infinite;
}

.hero .image .circle-spin-2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid #4B8BCC;
    border-right: .2rem solid #4B8BCC;
    animation: Spinner 5s linear infinite;
}

.circle-spin,
.circle-spin-2,
.circle-spin-3 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(244, 152, 243, 0.113);
    animation: rotateCircle 6s linear infinite;
}

.circle-spin {
    top: -30px;
    left: -30px;
}

.circle-spin-2 {
    bottom: -30px;
    right: -30px;
    animation-delay: 2s;
}

.circle-spin-3 {
    bottom: 50px;
    left: 50px;
    animation-delay: 4s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heroBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes heroCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 90%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes Spinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg) translate(20px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(20px) rotate(-360deg);
    }
}
@media(min-width:768px){
    .hero .hero-container{
        flex-direction: row;
    }
    .hero .hero-container .content{
        width: 50%;
        margin: 0;
        margin-right: 5rem;
    }
    .hero .hero-container .image{
        width: 50%;
        margin: 0;
        margin-left: 8rem;
    }
    .hero .hero-container .content .text-animate h1 span::before {
        left: 0;
    }
    
}